@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fdfcf8;
  color: #1a1a1a;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: "Amiri", serif;
}

.luxury-text-reveal {
  position: relative;
  overflow: hidden;
}

.custom-cursor {
  mix-blend-mode: difference;
}

::selection {
  background-color: #c5a059;
  color: white;
}
